<a href="https://colab.research.google.com/github/Akande-hub/Akande-hub.github.io/blob/dev/Flipkart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq

In [ ]:
my_url = 'https://www.flipkart.com/search?q=iphone&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=5'

uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()
page_soup= soup(page_html,"html.parser")

containers =page_soup.findAll("div",{"class": "_13oc-S"})

#print(len(containers))

#print(soup.prettify(containers[0]))
container = containers[0]

#print(container.div.img["alt"])

price = container.findAll("div",{"class":"col col-5-12 nlI3QM"})
#print(price[0].text)

ratings=container.findAll("div",{"class":"gUuXy-"})
#print(ratings[0].text)

filename= "products5.csv"
f=open(filename,"w")

headers="PRODUCT_NAME, PRICING, RATINGS\n"

f.write(headers)

31

In [ ]:
for container in containers:
    product_name1 = container.div.img["alt"]

    price_container = container.findAll("div",{"class":"col col-5-12 nlI3QM"})
    price = price_container[0].text.strip()

    rating_container = container.findAll("div",{"class":"gUuXy-"})
    rating = rating_container[0].text

    #print("product_name:" + product_name1)
    #print("price:" + price)
    #print("ratings:" + rating)

    #string parsing
    product_name = ''.join(product_name1.split(" (Includes EarPods, Power Adapter)"))
    product_name = str(product_name[0:43])
    trim_price = ''.join(price.split('Free deliveryUpto'))
    rm_rupee =trim_price.split("â‚¹")
    ad_rs_price = "Rs." + rm_rupee[1]
    split_price = ad_rs_price
    final_price = split_price

    split_rating = rating.split(" R")
    final_rating1 = split_rating[0]
    final_rating = final_rating1[0:3]

    print(product_name.replace(",", "|") + "," + final_price.replace(",", " ") + "," + final_rating + "\n")
    f.write(product_name.replace(",", "|") + "," + final_price.replace(",", " ") + "," + final_rating + "\n")
f.close()

APPLE iPhone XS (Gold| 512 GB),Rs.1 34 900,4.7

APPLE iPhone 12 Pro (Pacific Blue| 256 GB),Rs.1 19 900 ,4.6

APPLE iPhone SE (Black| 256 GB),Rs.43 999,4.5

APPLE iPhone 13 Pro (Gold| 256 GB),Rs.1 29 900 ,4.7

APPLE iPhone 12 Pro (Pacific Blue| 512 GB),Rs.1 39 900 ,4.6

APPLE iPhone 8 (Gold| 256 GB),Rs.77 000,4.5

APPLE iPhone 12 Pro (Graphite| 256 GB),Rs.1 19 900 ,4.6

APPLE iPhone 12 Pro Max (Pacific Blue| 512 ,Rs.1 49 900 ,4.6

APPLE iPhone 6 (Space Grey| 16 GB),Rs.52 000,4.4

APPLE iPhone 12 Pro (Gold| 128 GB),Rs.1 09 900 ,4.6

APPLE iPhone 13 (Pink| 512 GB),Rs.1 09 900 ,4.7

APPLE iPhone 13 (Starlight| 512 GB),Rs.1 09 900 ,4.7

APPLE iPhone 12 Pro (Silver| 128 GB),Rs.1 09 900 ,4.6

APPLE iPhone 13 Pro (Silver| 128 GB),Rs.1 19 900 ,4.7

APPLE iPhone 13 Pro Max (Sierra Blue| 512 G,Rs.1 59 900 ,4.7

APPLE iPhone 13 Pro (Sierra Blue| 1 TB),Rs.1 69 900 ,4.7

APPLE iPhone 13 Pro (Sierra Blue| 512 GB),Rs.1 49 900 ,4.7

APPLE iPhone 8 (Silver| 256 GB),Rs.77 000 ,4.5

APPLE iPhone 12 Pro (Graphite| 512 GB),Rs.1 39 900 ,4.6

APPLE iPhone 12 Pro (Pacific Blue| 128 GB),Rs.1 09 900 ,4.6

APPLE iPhone 12 Pro Max (Silver| 512 GB),Rs.1 49 900 ,4.6

APPLE iPhone 11 Pro Max (Silver| 64 GB),Rs.1 17 100 ,4.7

APPLE iPhone 12 Pro Max (Pacific Blue| 256 ,Rs.1 29 900 ,4.6

APPLE iPhone 12 Pro Max (Gold| 256 GB),Rs.1 29 900 ,4.6

In [ ]:
# merging the files
# joined_files = os.path.join("C:/Users/Akande/Desktop/Block 3/BDA Project/Job/Flipkart/", "products*.csv")

# # A list of all joined files is returned
# joined_list = glob.glob(joined_files)

# # Finally, the files are joined
# df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
# print(df)

# df.to_csv(r"C:/Users/Akande/Desktop/Block 3/BDA Project/Job/Flipkart/prod.csv", index = False)

In [ ]:
df = pd.read_csv("prod.csv")

In [ ]:
df.head(20)

                               PRODUCT_NAME     PRICING   RATINGS
0            APPLE iPhone SE (Black| 64 GB)   Rs.28 999       4.5
1            APPLE iPhone 12 (Black| 64 GB)   Rs.52 999       4.7
2            APPLE iPhone SE (White| 64 GB)   Rs.28 999       4.5
3       APPLE iPhone 12 Mini (Blue| 128 GB)   Rs.54 999       4.5
4              APPLE iPhone SE (Red| 64 GB)   Rs.28 999       4.5
5       APPLE iPhone 12 Mini (White| 64 GB)   Rs.40 249       4.5
6             APPLE iPhone SE (Red| 128 GB)   Rs.33 999       4.5
7        APPLE iPhone 12 Mini (Blue| 64 GB)   Rs.40 249       4.5
8       APPLE iPhone 12 Mini (Black| 64 GB)   Rs.40 249       4.5
9           Apple iPhone XR (White| 128 GB)   Rs.39 999       4.6
10           APPLE iPhone 12 (Blue| 128 GB)   Rs.64 999       4.7
11          APPLE iPhone SE (Black| 128 GB)   Rs.33 999       4.5
12      APPLE iPhone 12 Mini (Green| 64 GB)   Rs.40 249       4.5
13    Apple iPhone XR ((PRODUCT)RED| 64 GB)   Rs.34 999       4.6
14           APPLE iPhone 13 (Pink| 128 GB)  Rs.79 900        4.7
15          APPLE iPhone SE (White| 128 GB)   Rs.33 999       4.5
16           APPLE iPhone 13 (Blue| 128 GB)  Rs.79 900        4.7
17           Apple iPhone XR (White| 64 GB)   Rs.34 999       4.6
18  APPLE iPhone 13 Mini (Midnight| 128 GB)  Rs.69 900        4.7
19       APPLE iPhone 13 (Midnight| 256 GB)  Rs.89 900        4.7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCT_NAME  120 non-null    object
 1    PRICING      120 non-null    object
 2    RATINGS      120 non-null    float64
dtypes: float64(1), object(2)
memory usage: 2.9+ KB